numpy
prisma
fastapi[all]
uvicorn[standard]
openai
sentence-transformers
torch
transformers
sse-starlette
bs4
lxml
pyppeteer
langchain[all]
psutil
GPUtil
tiktoken
tenacity
rich
boto3
agent-proto
pgvector
aioredis
aio-pika
psycopg2-binary
unstructured[all-docs]
geocoder